body {
  font-family: sans-serif;
  font-size: 2em;
  padding: 3em;
  background: #f6efe2;
}

input {
  width: 80%;
  font-size: 1.4em;
}

button {
  font-size: 2em;
}

.msg {
  padding: 1em;
  margin: 1em 0;
  background: lightblue;
  width: 30%;
  opacity: 0;
  transition: opacity 200ms ease-out;
}

input:not(:placeholder-shown) + .msg {
  opacity: 1;
}
